@media (max-width: 665px){

    .controlers{
        background-color: brown;
    }

    .inputs{
        display: flex;
        flex-direction: column;
        align-items:center;
        background-color: aqua;
        width:100%;
    }
    

    /*arrumar tamanho dos botões*/
    .btn{
        flex-shrink: 1;
        margin-top: .5rem;
        width: 430px;
        flex-shrink: 1;
    }

}