@media (max-width: 665px) {
  .main {
    width: 350px;
  }

  .main .message h1 {
    font-size: 1.3rem;
  }
  .main .message p {
    font-size: 0.7rem;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .confirmation {
    position: relative;
    margin-left: -25px;
    width: 100%;
    margin-bottom: 10px;
  }

  .confirmation p {
    text-align: center;
    margin-top: 5px;
  }

  .alert {
    position: absolute;
  }

  .main #_email {
    width: 100%;
    margin-left: 10px;
  }

  .imagem {
    margin-left: -20px;
    margin-top: 5rem;
    width: 395px;
  }

  .btn {
    margin-top: 0.5rem;
    width: 100%;
  }
  .icons {
    margin-top: 3rem;
    margin-bottom: 0.9rem;
  }

  .attribution {
    margin-top: 0.1rem;
  }

  .attribution a {
    font-size: 0.5rem;
  }
}

@media (max-width: 400px) {
  .main {
    margin:20px;
    width: 320px;
  }

  .imagem {
    margin-left: -10px;
    margin-top: 5rem;
    width: 340px;
  }

  .icons {
    margin-top: 5rem;
  }
}
