html{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}

.principal{
    display: flex;
    min-width: 100vw;
    height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 650px;
    min-height: 100%;
}

.main header {
    padding: 40px;
}
.main .message h1 {
    font-size:34pt;
    font-weight: 700;
}
.main .message .title{
    color: hsl(0, 0%, 59%);
    font-weight:300;
}

.controlers{
    position: relative;
    left: 0;
    padding: 50px;
}


.main .inputs{
    position: absolute;
    top:1.3rem;
    left: 0;
}

.main #_email {
    opacity: .4;
    border: 2px solid hsl(0, 0%, 78%);
    padding: .7rem;
    border-radius: 1rem;
    width: 430px;
    margin-right: 10px;
    left: 0;
}

.btn {
    width: 8.5rem;
    padding: .7rem;
    background-color: hsl(223, 87%, 63%);   
    color: white;
    font-weight: 400;
    border: 1px solid hsl(223, 87%, 63%);
    box-shadow: 0 0 5px hsl(223, 87%, 63%);
    border-radius: 1rem; 
}

.imagem{
    margin-top: 2rem;
    width: 630px;
}

.icons{
    display: flex;
    justify-content:center;
    /* background-color:yellow; */
    gap:10px;
}

.icone{
    padding: .2rem;
    border: 1px solid hsl(0, 0%, 78%);
    border-radius:100%;
    width: 32pt;
}

.icons .fa-brands {
    font-size: 1rem;
    color: hsl(223, 87%, 63%);
}

.rodape{
    display: flex;
    margin-top:4rem;
    text-align: center;
    flex-direction: column;
    
}
.rodape p {
    font-size: 12pt;
    line-height: 4rem;
    color: hsl(0, 0%, 78%);
}